@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    height: 100vh;
}
main {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
div.board {
    height: 40vw;
    width: 40vw;
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
    display: flex;
    flex-direction: column;
}
div.cells {
    display: flex;
}

div.cell {
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
    width: 4vw;
    height: 4vw;
    user-select: none;
    cursor: pointer;
}
.water {
    background-color: rgb(73, 167, 211);
    cursor: default !important;
}
.hit {
    background-color: rgb(243, 71, 71) !important;
    cursor: default !important;
}
.ship {
    background-color: rgb(46, 46, 46);
    cursor: default !important;
}
.game-end-popup {
    display: none;
    background-color: rgb(46, 46, 46);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vw;
}
.game-end-popup h1 {
    color: white;
    text-align: center;
}
.game-end-popup .btn {
    display: flex;    
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.btn input {
    background-color: rgb(141, 141, 141);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.show {
    display: block !important;
}
.hide {
    display: none !important;
}